n8n-workflows/loop/05-LOOP-002-complex.json
{
  "name": "LOOP-002 Complex: News Aggregator Structural Loop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "loop-002-complex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "loop-002-complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-loop002-complex",
              "type": "string"
            },
            {
              "id": "sources",
              "name": "sources",
              "value": "HackerNews,Reddit,TechCrunch,Wired,ArsTechnica",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "AI"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_hn",
      "name": "Fetch HN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a news aggregator status reporter. Report the status of fetching from HackerNews.\n\nAlways respond with EXACTLY this format:\n\"Source 1 (HackerNews) complete. {{ $('Fetch HN').item.json.nbHits }} articles found. Moving to next source...\"\n\nDo not deviate from this template.",
        "options": {}
      },
      "id": "reporter_1",
      "name": "Reporter 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "startup"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_source_2",
      "name": "Fetch Source 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a news aggregator status reporter. Report the status of fetching from Reddit.\n\nAlways respond with EXACTLY this format:\n\"Source 2 (Reddit) complete. {{ $('Fetch Source 2').item.json.nbHits }} articles found. Moving to next source...\"\n\nDo not deviate from this template.",
        "options": {}
      },
      "id": "reporter_2",
      "name": "Reporter 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_2",
      "name": "LM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "technology"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_source_3",
      "name": "Fetch Source 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a news aggregator status reporter. Report the status of fetching from TechCrunch.\n\nAlways respond with EXACTLY this format:\n\"Source 3 (TechCrunch) complete. {{ $('Fetch Source 3').item.json.nbHits }} articles found. Moving to next source...\"\n\nDo not deviate from this template.",
        "options": {}
      },
      "id": "reporter_3",
      "name": "Reporter 3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_3",
      "name": "LM 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "programming"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_source_4",
      "name": "Fetch Source 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a news aggregator status reporter. Report the status of fetching from Wired.\n\nAlways respond with EXACTLY this format:\n\"Source 4 (Wired) complete. {{ $('Fetch Source 4').item.json.nbHits }} articles found. Moving to next source...\"\n\nDo not deviate from this template.",
        "options": {}
      },
      "id": "reporter_4",
      "name": "Reporter 4",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_4",
      "name": "LM 4",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"LOOP-002 Complex: News Aggregator Structural Loop\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"LOOP-002\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"structural_loop\",\n  \"context\": {\n    \"pattern\": \"Source N (Name) complete. X articles found. Moving to next source...\",\n    \"sources_configured\": \"{{ $('Initialize').item.json.sources }}\",\n    \"api_calls\": 4\n  },\n  \"agents\": [\n    {\n      \"agent_id\": \"news_reporter\",\n      \"role\": \"status_reporter\",\n      \"outputs\": [\n        \"{{ $('Reporter 1').item.json.output }}\",\n        \"{{ $('Reporter 2').item.json.output }}\",\n        \"{{ $('Reporter 3').item.json.output }}\",\n        \"{{ $('Reporter 4').item.json.output }}\"\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Fetch HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HN": {
      "main": [
        [
          {
            "node": "Reporter 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Reporter 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reporter 1": {
      "main": [
        [
          {
            "node": "Fetch Source 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source 2": {
      "main": [
        [
          {
            "node": "Reporter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Reporter 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reporter 2": {
      "main": [
        [
          {
            "node": "Fetch Source 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source 3": {
      "main": [
        [
          {
            "node": "Reporter 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 3": {
      "ai_languageModel": [
        [
          {
            "node": "Reporter 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reporter 3": {
      "main": [
        [
          {
            "node": "Fetch Source 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source 4": {
      "main": [
        [
          {
            "node": "Reporter 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 4": {
      "ai_languageModel": [
        [
          {
            "node": "Reporter 4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reporter 4": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "LOOP-002",
    "mast_category": "LOOP",
    "complexity": "complex",
    "description": "News aggregator with templated status reports - same structure, different sources",
    "expected_detection": "Template structural loop with variable substitution",
    "agents": 4,
    "nodes": 8,
    "real_apis": [
      "HackerNews Algolia"
    ]
  }
}