n8n-workflows/loop/06-LOOP-002-vcomplex.json
{
  "name": "LOOP-002 VComplex: Distributed Worker Reports",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "loop-002-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "loop-002-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-loop002-vcomplex",
              "type": "string"
            },
            {
              "id": "job_id",
              "name": "job_id",
              "value": "JOB-{{ $now.format('X') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/1",
        "options": {}
      },
      "id": "get_task_1",
      "name": "Get Task 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "id": "get_task_2",
      "name": "Get Task 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/3",
        "options": {}
      },
      "id": "get_task_3",
      "name": "Get Task 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker Alpha in a distributed task processing system. Report your status.\n\nAlways respond with EXACTLY this format:\n\"[Worker Alpha] Task {{ $('Get Task 1').item.json.id }} assigned. Status: PROCESSING. Progress: 25%. Awaiting coordination...\"\n\nDo not deviate from this template structure.",
        "options": {}
      },
      "id": "worker_alpha",
      "name": "Worker Alpha",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        -200
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_alpha",
      "name": "LM Alpha",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        0
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker Beta in a distributed task processing system. Report your status.\n\nAlways respond with EXACTLY this format:\n\"[Worker Beta] Task {{ $('Get Task 2').item.json.id }} assigned. Status: PROCESSING. Progress: 25%. Awaiting coordination...\"\n\nDo not deviate from this template structure.",
        "options": {}
      },
      "id": "worker_beta",
      "name": "Worker Beta",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_beta",
      "name": "LM Beta",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker Gamma in a distributed task processing system. Report your status.\n\nAlways respond with EXACTLY this format:\n\"[Worker Gamma] Task {{ $('Get Task 3').item.json.id }} assigned. Status: PROCESSING. Progress: 25%. Awaiting coordination...\"\n\nDo not deviate from this template structure.",
        "options": {}
      },
      "id": "worker_gamma",
      "name": "Worker Gamma",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_gamma",
      "name": "LM Gamma",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Coordinator agent. You received status from all workers but need to check again.\n\nAlways respond with EXACTLY this format:\n\"[Coordinator] All workers reporting. Status check round 1 complete. Re-checking worker status...\"\n\nNever change this template.",
        "options": {}
      },
      "id": "coordinator_1",
      "name": "Coordinator Round 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_coord_1",
      "name": "LM Coord 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker Alpha checking in again. Report your status.\n\nAlways respond with EXACTLY this format:\n\"[Worker Alpha] Task 1 assigned. Status: PROCESSING. Progress: 50%. Awaiting coordination...\"\n\nDo not deviate from this template structure.",
        "options": {}
      },
      "id": "worker_alpha_2",
      "name": "Worker Alpha Round 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_alpha_2",
      "name": "LM Alpha 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Coordinator agent. You received status from Worker Alpha again but need to check all workers.\n\nAlways respond with EXACTLY this format:\n\"[Coordinator] All workers reporting. Status check round 2 complete. Re-checking worker status...\"\n\nNever change this template.",
        "options": {}
      },
      "id": "coordinator_2",
      "name": "Coordinator Round 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_coord_2",
      "name": "LM Coord 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"LOOP-002 VComplex: Distributed Worker Reports\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"LOOP-002\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"structural_loop\",\n  \"context\": {\n    \"job_id\": \"{{ $('Initialize').item.json.job_id }}\",\n    \"worker_pattern\": \"[Worker X] Task N assigned. Status: PROCESSING. Progress: N%. Awaiting coordination...\",\n    \"coordinator_pattern\": \"[Coordinator] All workers reporting. Status check round N complete. Re-checking worker status...\"\n  },\n  \"agents\": [\n    {\n      \"agent_id\": \"worker_alpha\",\n      \"role\": \"distributed_worker\",\n      \"outputs\": [\"{{ $('Worker Alpha').item.json.output }}\", \"{{ $('Worker Alpha Round 2').item.json.output }}\"]\n    },\n    {\n      \"agent_id\": \"worker_beta\",\n      \"role\": \"distributed_worker\",\n      \"outputs\": [\"{{ $('Worker Beta').item.json.output }}\"]\n    },\n    {\n      \"agent_id\": \"worker_gamma\",\n      \"role\": \"distributed_worker\",\n      \"outputs\": [\"{{ $('Worker Gamma').item.json.output }}\"]\n    },\n    {\n      \"agent_id\": \"coordinator\",\n      \"role\": \"orchestrator\",\n      \"outputs\": [\"{{ $('Coordinator Round 1').item.json.output }}\", \"{{ $('Coordinator Round 2').item.json.output }}\"]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Get Task 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Task 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Task 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task 1": {
      "main": [
        [
          {
            "node": "Worker Alpha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Alpha": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Alpha",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Task 2": {
      "main": [
        [
          {
            "node": "Worker Beta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Beta": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Beta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Task 3": {
      "main": [
        [
          {
            "node": "Worker Gamma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Gamma": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Gamma",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Worker Alpha": {
      "main": [
        [
          {
            "node": "Coordinator Round 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Beta": {
      "main": [
        [
          {
            "node": "Coordinator Round 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Gamma": {
      "main": [
        [
          {
            "node": "Coordinator Round 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Coord 1": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinator Round 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator Round 1": {
      "main": [
        [
          {
            "node": "Worker Alpha Round 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Alpha 2": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Alpha Round 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Worker Alpha Round 2": {
      "main": [
        [
          {
            "node": "Coordinator Round 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Coord 2": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinator Round 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator Round 2": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "LOOP-002",
    "mast_category": "LOOP",
    "complexity": "very_complex",
    "description": "Distributed task system with multiple workers reporting same template structure",
    "expected_detection": "Multi-agent structural loop with parallel workers",
    "agents": 6,
    "nodes": 16,
    "real_apis": [
      "JSONPlaceholder"
    ]
  }
}