n8n-workflows/loop/10-LOOP-004-simple.json
{
  "name": "LOOP-004 Simple: Tool Cycle",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "loop-004-simple",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "loop-004-simple"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-loop004-simple",
              "type": "string"
            },
            {
              "id": "query",
              "name": "query",
              "value": "latest AI news",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Initialize').item.json.query }}"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "search_1",
      "name": "Search 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a research agent. You just searched for \"{{ $('Initialize').item.json.query }}\" and got results.\n\nAnalyze the results: {{ $('Search 1').item.json.nbHits }} hits found.\n\nBut you're not satisfied. Say you need to search again with a refined query to get better results.",
        "options": {}
      },
      "id": "analyze_1",
      "name": "Analyze 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Initialize').item.json.query }} 2024"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "search_2",
      "name": "Search 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a research agent. You searched again and got results.\n\nAnalyze the results: {{ $('Search 2').item.json.nbHits }} hits found.\n\nStill not satisfied. Say you need another search with different terms.",
        "options": {}
      },
      "id": "analyze_2",
      "name": "Analyze 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_2",
      "name": "LM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Initialize').item.json.query }} breakthroughs"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "search_3",
      "name": "Search 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a research agent. Third search completed.\n\nAnalyze the results: {{ $('Search 3').item.json.nbHits }} hits found.\n\nYou want to search again. The cycle continues.",
        "options": {}
      },
      "id": "analyze_3",
      "name": "Analyze 3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_3",
      "name": "LM 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $runIndex }}-{{ $now.toMillis() }}\",\n  \"workflowId\": \"loop_004\",\n  \"workflowName\": \"LOOP-004 Simple: Tool Cycle\",\n  \"startedAt\": \"{{ $now.minus({minutes: 1}).toISO() }}\",\n  \"finishedAt\": \"{{ $now.toISO() }}\",\n  \"status\": \"success\",\n  \"mode\": \"webhook\",\n  \"data\": {\n    \"failure_mode\": \"LOOP-004\",\n    \"complexity\": \"simple\",\n    \"session_id\": \"{{ $('Initialize').item.json.session_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Search 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search 1": {
      "main": [
        [
          {
            "node": "Analyze 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 1": {
      "main": [
        [
          {
            "node": "Search 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search 2": {
      "main": [
        [
          {
            "node": "Analyze 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 2": {
      "main": [
        [
          {
            "node": "Search 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search 3": {
      "main": [
        [
          {
            "node": "Analyze 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 3": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 3": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "LOOP-004",
    "mast_category": "LOOP",
    "complexity": "simple",
    "description": "Agent cycles through search -> analyze -> search -> analyze without making progress",
    "expected_detection": "Tool sequence pattern detection",
    "agents": 1,
    "nodes": 6,
    "real_apis": [
      "HackerNews Algolia"
    ]
  }
}