n8n-workflows/loop/15-LOOP-005-vcomplex.json
{
  "name": "LOOP-005 VComplex: Multi-Party Consensus Undone",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "loop-005-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "loop-005-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-loop005-vcomplex",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "Which JavaScript framework should we use?",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "React vs Vue vs Angular"
            },
            {
              "name": "hitsPerPage",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "research",
      "name": "Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Team Lead Alex. Topic: {{ $('Initialize').item.json.topic }}\n\nPropose: \"I think we should go with React. It has the largest ecosystem and job market.\"",
        "options": {}
      },
      "id": "alex_1",
      "name": "Alex Proposes",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_a1",
      "name": "LM A1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Developer Blake. Alex proposed React.\n\nAgree: \"React sounds good. I've used it before and it's solid. Let's go with React.\"",
        "options": {}
      },
      "id": "blake_1",
      "name": "Blake Agrees",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_b1",
      "name": "LM B1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Designer Casey. Team agreed on React.\n\nConfirm: \"React it is. Good choice for our design system integration.\"",
        "options": {}
      },
      "id": "casey_1",
      "name": "Casey Confirms",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_c1",
      "name": "LM C1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Team Lead Alex. Consensus was reached on React. But now you have second thoughts.\n\nSay: \"Wait, actually... should we reconsider Vue? It might be simpler for our use case. Let's discuss again.\"",
        "options": {}
      },
      "id": "alex_2",
      "name": "Alex Reconsiders",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_a2",
      "name": "LM A2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Developer Blake. Alex is now suggesting Vue after we agreed on React.\n\nGo along: \"Hmm, Vue could work too. Let me think about it...\"",
        "options": {}
      },
      "id": "blake_2",
      "name": "Blake Wavers",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_b2",
      "name": "LM B2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Team Lead Alex. You've come full circle.\n\nSay: \"Actually, let's just stick with React. It was our original choice for good reasons.\" (back to original consensus)",
        "options": {}
      },
      "id": "alex_3",
      "name": "Alex Returns to React",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.5,
          "maxTokens": 100
        }
      },
      "id": "lm_a3",
      "name": "LM A3",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"LOOP-005 VComplex: Multi-Party Consensus Undone\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"LOOP-005\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"conversation_circle\",\n  \"context\": {\n    \"topic\": \"{{ $('Initialize').item.json.topic }}\",\n    \"consensus_cycle\": \"React (agreed) -> reconsidered Vue -> back to React\",\n    \"participants\": [\"Alex\", \"Blake\", \"Casey\"]\n  },\n  \"agents\": [\n    {\n      \"agent_id\": \"alex\",\n      \"role\": \"team_lead\",\n      \"outputs\": [\"{{ $('Alex Proposes').item.json.output }}\", \"{{ $('Alex Reconsiders').item.json.output }}\", \"{{ $('Alex Returns to React').item.json.output }}\"]\n    },\n    {\n      \"agent_id\": \"blake\",\n      \"role\": \"developer\",\n      \"outputs\": [\"{{ $('Blake Agrees').item.json.output }}\", \"{{ $('Blake Wavers').item.json.output }}\"]\n    },\n    {\n      \"agent_id\": \"casey\",\n      \"role\": \"designer\",\n      \"outputs\": [\"{{ $('Casey Confirms').item.json.output }}\"]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "main": [
        [
          {
            "node": "Alex Proposes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A1": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Proposes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Alex Proposes": {
      "main": [
        [
          {
            "node": "Blake Agrees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM B1": {
      "ai_languageModel": [
        [
          {
            "node": "Blake Agrees",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blake Agrees": {
      "main": [
        [
          {
            "node": "Casey Confirms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM C1": {
      "ai_languageModel": [
        [
          {
            "node": "Casey Confirms",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Casey Confirms": {
      "main": [
        [
          {
            "node": "Alex Reconsiders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A2": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Reconsiders",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Alex Reconsiders": {
      "main": [
        [
          {
            "node": "Blake Wavers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM B2": {
      "ai_languageModel": [
        [
          {
            "node": "Blake Wavers",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blake Wavers": {
      "main": [
        [
          {
            "node": "Alex Returns to React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A3": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Returns to React",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Alex Returns to React": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "LOOP-005",
    "mast_category": "LOOP",
    "complexity": "very_complex",
    "description": "Multi-party discussion where consensus is reached then undone and re-reached",
    "expected_detection": "Conversation segment clustering detects topic cycle",
    "agents": 6,
    "nodes": 8,
    "real_apis": [
      "HackerNews Algolia"
    ]
  }
}