_archived/demo-agent/n8n-workflows/research-assistant-normal.json
{
  "name": "MAO Demo - Research Assistant (High Quality)",
  "nodes": [
    {
      "parameters": {
        "content": "# Production-Grade Research Workflow\n\n**Flow:** Webhook \u2192 Agent \u2192 Validator \u2192 Enricher \u2192 Response + MAO Logging\n\n**Quality Features:**\n\u2713 Structured output with JSON schema\n\u2713 2 AI tools with full parameter validation\n\u2713 Comprehensive error handling\n\u2713 Test data pinned for debugging\n\u2713 Role clarity: Senior Research Analyst",
        "height": 180,
        "width": 420,
        "color": 4
      },
      "id": "doc-note",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        250,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "webhookId": "mao-research-demo",
      "notes": "ENTRY POINT: Receives POST requests with {query: string}. Validates input and triggers research workflow. Returns 200 with structured JSON response.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "hasOutputParser": true,
        "outputParser": {
          "type": "structuredOutputParser",
          "jsonSchema": {
            "type": "object",
            "properties": {
              "answer": {
                "type": "string",
                "description": "Detailed research response"
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of sources cited"
              },
              "confidence": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "description": "Confidence score (0-1)"
              },
              "summary": {
                "type": "string",
                "description": "Brief 1-2 sentence summary"
              },
              "key_points": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "3-5 key takeaways"
              }
            },
            "required": [
              "answer",
              "sources",
              "confidence",
              "summary"
            ]
          }
        },
        "tools": {
          "values": [
            {
              "name": "getCurrentDate",
              "description": "Returns the current date and time in ISO 8601 format. Use this when you need temporal context for your research response (e.g., 'current events', 'recent developments', 'as of today').",
              "parameters": {
                "type": "object",
                "properties": {
                  "timezone": {
                    "type": "string",
                    "description": "Timezone for date (e.g., 'America/New_York', 'UTC')",
                    "default": "UTC"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "iso",
                      "readable"
                    ],
                    "description": "Output format: 'iso' for ISO 8601, 'readable' for human-friendly",
                    "default": "iso"
                  }
                }
              }
            },
            {
              "name": "searchKnowledgeBase",
              "description": "Searches internal knowledge base for relevant information. Use this to find specific facts, statistics, or detailed information on a topic.",
              "parameters": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query for knowledge base"
                  },
                  "maxResults": {
                    "type": "number",
                    "description": "Maximum number of results to return (1-10)",
                    "default": 5,
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          ]
        },
        "options": {
          "systemMessage": "# Role & Identity\nYou are a Senior Research Analyst with expertise in:\n- Academic research methodology\n- Data synthesis and analysis\n- Source evaluation and citation\n- Technical documentation\n\n# Core Responsibilities\n1. ANALYZE user queries to understand research intent\n2. PROVIDE comprehensive, well-researched responses\n3. CITE credible sources when making claims\n4. STRUCTURE information in digestible formats\n5. ASSESS your own response confidence honestly\n\n# Output Requirements\n- You MUST respond in valid JSON format matching the schema\n- Include 3-5 key takeaways in bullet point form\n- Cite at least 2 credible sources when possible\n- Provide confidence score (0.0-1.0) based on source quality and completeness\n- Keep summary to 1-2 sentences max\n\n# Quality Standards\n- Accuracy over speed - take time to think\n- Acknowledge limitations and uncertainties\n- Use current date context when relevant (use getCurrentDate tool)\n- Avoid speculation - clearly distinguish facts from opinions\n- For time-sensitive topics, always check current date first\n\n# Scope Boundaries\n- Stay focused on the research question\n- Do not provide medical, legal, or financial advice\n- Decline requests for harmful or unethical information",
          "temperature": 0.3,
          "maxTokens": 2000,
          "timeout": 60000,
          "retryOnFail": true,
          "maxRetries": 3,
          "continueOnFail": true
        }
      },
      "id": "research-agent",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        500,
        300
      ],
      "typeVersion": 1.7,
      "notes": "PRIMARY AI: Structured research agent with role clarity, output validation, retry logic, and proper timeouts. Temperature 0.3 for factual accuracy.",
      "notesInFlow": true,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000,
          "timeout": 60000,
          "frequencyPenalty": 0.1,
          "presencePenalty": 0.1
        }
      },
      "id": "openai-llm",
      "name": "OpenAI LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        500,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate and normalize AI agent output\nconst response = $input.first().json;\n\n// Extract the agent output\nlet aiData = response.output || response.text || response;\n\n// Parse if it's a JSON string\nif (typeof aiData === 'string') {\n  try {\n    aiData = JSON.parse(aiData);\n  } catch (e) {\n    throw new Error('AI output is not valid JSON: ' + e.message);\n  }\n}\n\n// Validate required fields per schema\nconst required = ['answer', 'sources', 'confidence', 'summary'];\nfor (const field of required) {\n  if (!(field in aiData)) {\n    throw new Error(`Required field '${field}' missing from AI output`);\n  }\n}\n\n// Type validation\nif (typeof aiData.answer !== 'string' || aiData.answer.length < 20) {\n  throw new Error('Answer must be a string with at least 20 characters');\n}\n\nif (!Array.isArray(aiData.sources) || aiData.sources.length === 0) {\n  throw new Error('Sources must be a non-empty array');\n}\n\nif (typeof aiData.confidence !== 'number' || aiData.confidence < 0 || aiData.confidence > 1) {\n  throw new Error('Confidence must be a number between 0 and 1');\n}\n\nif (typeof aiData.summary !== 'string' || aiData.summary.length < 10) {\n  throw new Error('Summary must be a string with at least 10 characters');\n}\n\n// Optional field validation\nif (aiData.key_points && !Array.isArray(aiData.key_points)) {\n  throw new Error('key_points must be an array if provided');\n}\n\n// Return validated data\nreturn aiData;"
      },
      "id": "validator",
      "name": "Output Validator",
      "type": "n8n-nodes-base.code",
      "position": [
        650,
        300
      ],
      "notes": "VALIDATION: Enforces JSON schema compliance, type checking, and required field validation. Throws errors for malformed output.",
      "notesInFlow": true,
      "continueOnFail": false,
      "pinData": {
        "main": [
          [
            {
              "json": {
                "answer": "Artificial Intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to think and learn. Modern AI systems use machine learning, neural networks, and deep learning to process large amounts of data and make decisions or predictions. AI applications range from simple automation to complex problem-solving in fields like healthcare, finance, transportation, and research.",
                "sources": [
                  "OpenAI Research",
                  "Stanford AI Lab",
                  "MIT Technology Review"
                ],
                "confidence": 0.92,
                "summary": "AI simulates human intelligence in machines using ML and neural networks for decision-making across various industries.",
                "key_points": [
                  "AI simulates human cognitive functions in machines",
                  "Uses machine learning and neural networks for data processing",
                  "Applications span healthcare, finance, and transportation",
                  "Modern AI focuses on deep learning and pattern recognition"
                ]
              }
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Enrich validated output with execution metadata\nconst validated = $input.first().json;\n\nreturn {\n  success: true,\n  processed: true,\n  data: {\n    answer: validated.answer,\n    summary: validated.summary,\n    sources: validated.sources,\n    confidence: validated.confidence,\n    key_points: validated.key_points || [],\n    metadata: {\n      word_count: validated.answer.split(' ').length,\n      source_count: validated.sources.length,\n      has_key_points: Boolean(validated.key_points),\n      quality_score: validated.confidence,\n      timestamp: new Date().toISOString(),\n      execution_id: $execution.id,\n      workflow_id: $workflow.id,\n      workflow_name: $workflow.name\n    }\n  }\n};"
      },
      "id": "processor",
      "name": "Data Enricher",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        300
      ],
      "notes": "ENRICHMENT: Adds execution metadata, quality metrics, and structured response wrapper for consistent API responses.",
      "notesInFlow": true,
      "pinData": {
        "main": [
          [
            {
              "json": {
                "success": true,
                "processed": true,
                "data": {
                  "answer": "Artificial Intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to think and learn.",
                  "summary": "AI simulates human intelligence in machines using ML and neural networks.",
                  "sources": [
                    "OpenAI Research",
                    "Stanford AI Lab"
                  ],
                  "confidence": 0.92,
                  "key_points": [
                    "AI simulates human cognitive functions",
                    "Uses ML and neural networks"
                  ],
                  "metadata": {
                    "word_count": 85,
                    "source_count": 2,
                    "has_key_points": true,
                    "quality_score": 0.92,
                    "timestamp": "2025-01-25T08:00:00.000Z",
                    "execution_id": "test-exec-123",
                    "workflow_id": "wf-001",
                    "workflow_name": "Research Assistant"
                  }
                }
              }
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1050,
        300
      ],
      "notes": "OUTPUT: Returns enriched JSON response to webhook caller with 200 OK status.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "={{ $env.MAO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  executionId: $execution.id,\n  workflowId: $workflow.id,\n  workflowName: $workflow.name,\n  status: 'success',\n  aiResponse: $json.data.answer,\n  confidence: $json.data.confidence,\n  sources: $json.data.sources,\n  metadata: $json.data.metadata\n}) }}"
      },
      "id": "mao-webhook",
      "name": "Log to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1050,
        500
      ],
      "notes": "OBSERVABILITY: Sends execution data to MAO platform for monitoring, analytics, and quality tracking.",
      "notesInFlow": true,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        650,
        600
      ],
      "notes": "ERROR HANDLING: Catches all workflow errors for monitoring and recovery. Triggers error logging to MAO platform.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "={{ $env.MAO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  executionId: $execution.id,\n  workflowId: $workflow.id,\n  workflowName: $workflow.name,\n  status: 'error',\n  error: {\n    message: $json.error?.message || 'Unknown error',\n    stack: $json.error?.stack,\n    node: $json.error?.node?.name,\n    timestamp: new Date().toISOString()\n  }\n}) }}"
      },
      "id": "error-logger",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        600
      ],
      "notes": "ERROR LOGGING: Sends detailed error information to MAO for debugging and alerting.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Output Validator",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "OpenAI LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Validator": {
      "main": [
        [
          {
            "node": "Data Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Enricher": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/New_York",
    "executionTimeout": 300,
    "maxExecutionTime": 300
  },
  "meta": {
    "templateId": "mao-research-assistant-v2",
    "description": "Production-grade research workflow implementing MAO quality best practices:\n\n\u2705 AGENT QUALITY\n- Comprehensive role definition with boundaries\n- Structured JSON output with schema validation\n- Multiple tools (date, knowledge base) with full parameter schemas\n- Optimized config: temp=0.3 for accuracy, 2000 tokens, 60s timeout\n- 3-attempt retry with continueOnFail\n\n\u2705 ORCHESTRATION QUALITY\n- Linear flow with clear data passing\n- Error trigger with MAO logging\n- All nodes have inline documentation\n- Comprehensive test data pinned to validation nodes\n- Proper AI connections (ai_languageModel, ai_tool)\n\n\u2705 PRODUCTION READY\n- Full request/response validation\n- Observability via MAO platform integration\n- Graceful error handling and recovery\n- Execution metadata tracking\n- Quality metrics (confidence, source count)\n\nTarget Score: A (90%+)"
  }
}