n8n-workflows/research-summarizer.json
{
  "name": "Research Summarizer (Single Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "research-summary-webhook"
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "claude-researcher",
      "name": "Claude Researcher",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic_credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and format the Claude response\nconst input = $input.first().json;\n\n// Try to extract the response text from various possible locations\nconst responseText = input.text || input.content || input.response || JSON.stringify(input);\nconst tokens = input.usage?.total_tokens || 0;\n\nreturn {\n  topic: $('Webhook Trigger').item.json.body.topic,\n  depth: $('Webhook Trigger').item.json.body.depth || 'brief',\n  summary: responseText,\n  token_count: tokens,\n  model: 'claude-3-5-haiku-20241022',\n  timestamp: new Date().toISOString(),\n  execution_id: $execution.id,\n  workflow_id: $workflow.id\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAO_WEBHOOK_URL || 'http://localhost:8000/api/v1/n8n/webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "={{ $env.MAO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"workflowId\": \"{{ $workflow.id }}\",\n  \"workflowName\": \"{{ $workflow.name }}\",\n  \"mode\": \"webhook\",\n  \"startedAt\": \"{{ $execution.startedAt }}\",\n  \"status\": \"success\",\n  \"data\": {\n    \"resultData\": {\n      \"runData\": {\n        \"Claude Researcher\": [{\n          \"source\": [{\"type\": \"@n8n/n8n-nodes-langchain.lmChatAnthropic\"}],\n          \"executionTime\": {{ $now.diff($execution.startedAt) }},\n          \"parameters\": {\n            \"model\": \"claude-3-5-haiku-20241022\",\n            \"temperature\": 0.7\n          },\n          \"data\": {\n            \"main\": [[\n              {\n                \"json\": {{ $json }},\n                \"usage\": {\n                  \"total_tokens\": {{ $json.token_count || 0 }}\n                }\n              }\n            ]]\n          }\n        }]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "send-to-mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Claude Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Researcher": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Single-agent workflow using Claude 3.5 Haiku to research topics and generate summaries with reasoning."
  }
}
