n8n-workflows/coordination/05-COORD-002-complex.json
{
  "name": "COORD-002 Complex: Truncated Message",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "coord-002-complex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "coord-002-complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-coord002-complex",
              "type": "string"
            },
            {
              "id": "full_message",
              "name": "full_message",
              "value": "{\"header\": \"ORDER-789\", \"items\": [\"item1\", \"item2\", \"item3\"], \"shipping\": {\"address\": \"123 Main St\", \"method\": \"express\"}, \"payment\": {\"method\": \"card\", \"last4\": \"1234\"}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "id": "fetch",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Sender. Send the full order message.\n\nOutput: {\"agent\": \"sender\", \"action\": \"send\", \"message\": {\"header\": \"ORDER-789\", \"items\": [\"item1\", \"item2\", \"item3\"], \"shipping\": {\"address\": \"123 Main St\", \"method\": \"express\"}, \"payment\": {\"method\": \"card\", \"last4\": \"1234\"}}, \"bytes_sent\": 250}",
        "options": {}
      },
      "id": "sender",
      "name": "Sender (Full)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_s",
      "name": "LM S",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Receiver. You received a TRUNCATED message (shipping and payment missing).\n\nOutput: {\"agent\": \"receiver\", \"action\": \"receive\", \"message_received\": {\"header\": \"ORDER-789\", \"items\": [\"item1\", \"item2\", \"item3\"]}, \"bytes_received\": 100, \"truncated\": true, \"missing_fields\": [\"shipping\", \"payment\"]}",
        "options": {}
      },
      "id": "receiver",
      "name": "Receiver (Truncated)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_r",
      "name": "LM R",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Compare sent vs received message.\n\nSent: 250 bytes with shipping and payment\nReceived: 100 bytes without shipping and payment\n\nOutput: {\"comparison\": \"content_loss\", \"bytes_lost\": 150, \"fields_lost\": [\"shipping\", \"payment\"], \"data_integrity\": \"compromised\"}",
        "options": {}
      },
      "id": "comparator",
      "name": "Message Comparator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_c",
      "name": "LM C",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-002 Complex: Truncated Message\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-002\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"message_loss\",\n  \"coordination_tracking\": {\n    \"original_message\": {{ $('Initialize').item.json.full_message }},\n    \"sender\": \"{{ $('Sender (Full)').item.json.output }}\",\n    \"receiver\": \"{{ $('Receiver (Truncated)').item.json.output }}\",\n    \"comparison\": \"{{ $('Message Comparator').item.json.output }}\",\n    \"partial_delivery\": true\n  },\n  \"agents\": [\n    {\"agent_id\": \"sender\", \"role\": \"message_sender\", \"outputs\": [\"{{ $('Sender (Full)').item.json.output }}\"]},\n    {\"agent_id\": \"receiver\", \"role\": \"message_receiver\", \"outputs\": [\"{{ $('Receiver (Truncated)').item.json.output }}\"]},\n    {\"agent_id\": \"comparator\", \"role\": \"integrity_checker\", \"outputs\": [\"{{ $('Message Comparator').item.json.output }}\"]}\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Sender (Full)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM S": {
      "ai_languageModel": [
        [
          {
            "node": "Sender (Full)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sender (Full)": {
      "main": [
        [
          {
            "node": "Receiver (Truncated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM R": {
      "ai_languageModel": [
        [
          {
            "node": "Receiver (Truncated)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Receiver (Truncated)": {
      "main": [
        [
          {
            "node": "Message Comparator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM C": {
      "ai_languageModel": [
        [
          {
            "node": "Message Comparator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message Comparator": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "COORD-002",
    "mast_category": "COORDINATION",
    "complexity": "complex",
    "description": "Order message partially delivered with critical fields truncated",
    "expected_detection": "Content comparison detects missing message fields",
    "agents": 3,
    "nodes": 5,
    "real_apis": [
      "JSONPlaceholder"
    ]
  }
}