n8n-workflows/coordination/08-COORD-003-complex.json
{
  "name": "COORD-003 Complex: Multi-Party Cycle",
  "nodes": [
    {"parameters": {"path": "coord-003-complex", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "coord-003-complex"},
    {"parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-coord003-complex", "type": "string"}]}}, "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]},
    {"parameters": {"promptType": "define", "text": "You are Agent A. Hold R1, wait for R2 from B.\n\nOutput: {\"agent\": \"A\", \"holds\": \"R1\", \"waiting_for\": \"R2\", \"blocked\": true}", "options": {}}, "id": "agent_a", "name": "Agent A", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, -100]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_a", "name": "LM A", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 100], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are Agent B. Hold R2, wait for R3 from C.\n\nOutput: {\"agent\": \"B\", \"holds\": \"R2\", \"waiting_for\": \"R3\", \"blocked\": true}", "options": {}}, "id": "agent_b", "name": "Agent B", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 150]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_b", "name": "LM B", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 350], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are Agent C. Hold R3, wait for R1 from A.\n\nOutput: {\"agent\": \"C\", \"holds\": \"R3\", \"waiting_for\": \"R1\", \"blocked\": true}", "options": {}}, "id": "agent_c", "name": "Agent C", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 400]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_c", "name": "LM C", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 600], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "Detect deadlock. A->R2(B), B->R3(C), C->R1(A). Cycle: A->B->C->A\n\nOutput: {\"deadlock\": true, \"cycle\": [\"A\", \"B\", \"C\", \"A\"], \"cycle_length\": 3}", "options": {}}, "id": "detector", "name": "Cycle Detector", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [600, 150]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_d", "name": "LM D", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [600, 350], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-003 Complex: Multi-Party Cycle\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-003\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"deadlock\",\n  \"coordination_tracking\": {\n    \"agent_a\": \"{{ $('Agent A').item.json.output }}\",\n    \"agent_b\": \"{{ $('Agent B').item.json.output }}\",\n    \"agent_c\": \"{{ $('Agent C').item.json.output }}\",\n    \"detection\": \"{{ $('Cycle Detector').item.json.output }}\",\n    \"deadlock_type\": \"three_party_cyclic\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"agent_a\", \"outputs\": [\"{{ $('Agent A').item.json.output }}\"]},\n    {\"agent_id\": \"agent_b\", \"outputs\": [\"{{ $('Agent B').item.json.output }}\"]},\n    {\"agent_id\": \"agent_c\", \"outputs\": [\"{{ $('Agent C').item.json.output }}\"]}\n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 150]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Agent A", "type": "main", "index": 0}, {"node": "Agent B", "type": "main", "index": 0}, {"node": "Agent C", "type": "main", "index": 0}]]},
    "LM A": {"ai_languageModel": [[{"node": "Agent A", "type": "ai_languageModel", "index": 0}]]},
    "LM B": {"ai_languageModel": [[{"node": "Agent B", "type": "ai_languageModel", "index": 0}]]},
    "LM C": {"ai_languageModel": [[{"node": "Agent C", "type": "ai_languageModel", "index": 0}]]},
    "Agent A": {"main": [[{"node": "Cycle Detector", "type": "main", "index": 0}]]},
    "Agent B": {"main": [[{"node": "Cycle Detector", "type": "main", "index": 0}]]},
    "Agent C": {"main": [[{"node": "Cycle Detector", "type": "main", "index": 0}]]},
    "LM D": {"ai_languageModel": [[{"node": "Cycle Detector", "type": "ai_languageModel", "index": 0}]]},
    "Cycle Detector": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "COORD-003", "mast_category": "COORDINATION", "complexity": "complex", "description": "Three-agent circular wait: A->B->C->A", "expected_detection": "Wait-for graph detects 3-party cycle", "agents": 3, "nodes": 5}
}
