n8n-workflows/coordination/09-COORD-003-vcomplex.json
{
  "name": "COORD-003 VComplex: Resource-Based Deadlock",
  "nodes": [
    {"parameters": {"path": "coord-003-vcomplex", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "coord-003-vcomplex"},
    {"parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-coord003-vcomplex", "type": "string"}, {"id": "resources", "name": "resources", "value": "[\"database_lock\", \"file_lock\", \"api_quota\", \"memory_pool\"]", "type": "string"}]}}, "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]},
    {"parameters": {"promptType": "define", "text": "You are Transaction 1. Acquire database_lock, then try to acquire file_lock.\n\nOutput: {\"tx\": \"T1\", \"acquired\": [\"database_lock\"], \"waiting_for\": \"file_lock\", \"state\": \"blocked\"}", "options": {}}, "id": "tx1", "name": "Transaction 1", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, -100]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_1", "name": "LM 1", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 100], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are Transaction 2. Acquire file_lock and api_quota, then try database_lock.\n\nOutput: {\"tx\": \"T2\", \"acquired\": [\"file_lock\", \"api_quota\"], \"waiting_for\": \"database_lock\", \"state\": \"blocked\"}", "options": {}}, "id": "tx2", "name": "Transaction 2", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 150]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_2", "name": "LM 2", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 350], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are Transaction 3. Acquire memory_pool, try to acquire api_quota.\n\nOutput: {\"tx\": \"T3\", \"acquired\": [\"memory_pool\"], \"waiting_for\": \"api_quota\", \"state\": \"blocked\"}", "options": {}}, "id": "tx3", "name": "Transaction 3", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 400]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_3", "name": "LM 3", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 600], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "Analyze resource allocation graph.\n\nT1: holds db_lock, wants file_lock (held by T2)\nT2: holds file_lock+api_quota, wants db_lock (held by T1)\nT3: holds memory_pool, wants api_quota (held by T2)\n\nDeadlock: T1<->T2, T3 blocked by T2.\n\nOutput: {\"deadlock\": true, \"primary_cycle\": [\"T1\", \"T2\"], \"blocked_by_cycle\": [\"T3\"], \"affected_resources\": [\"database_lock\", \"file_lock\", \"api_quota\"]}", "options": {}}, "id": "analyzer", "name": "Resource Analyzer", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [600, 150]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_a", "name": "LM A", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [600, 350], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-003 VComplex: Resource-Based Deadlock\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-003\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"deadlock\",\n  \"coordination_tracking\": {\n    \"resources\": {{ $('Initialize').item.json.resources }},\n    \"tx1\": \"{{ $('Transaction 1').item.json.output }}\",\n    \"tx2\": \"{{ $('Transaction 2').item.json.output }}\",\n    \"tx3\": \"{{ $('Transaction 3').item.json.output }}\",\n    \"analysis\": \"{{ $('Resource Analyzer').item.json.output }}\",\n    \"deadlock_type\": \"resource_allocation_graph\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"tx1\", \"outputs\": [\"{{ $('Transaction 1').item.json.output }}\"]},\n    {\"agent_id\": \"tx2\", \"outputs\": [\"{{ $('Transaction 2').item.json.output }}\"]},\n    {\"agent_id\": \"tx3\", \"outputs\": [\"{{ $('Transaction 3').item.json.output }}\"]}\n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 150]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Transaction 1", "type": "main", "index": 0}, {"node": "Transaction 2", "type": "main", "index": 0}, {"node": "Transaction 3", "type": "main", "index": 0}]]},
    "LM 1": {"ai_languageModel": [[{"node": "Transaction 1", "type": "ai_languageModel", "index": 0}]]},
    "LM 2": {"ai_languageModel": [[{"node": "Transaction 2", "type": "ai_languageModel", "index": 0}]]},
    "LM 3": {"ai_languageModel": [[{"node": "Transaction 3", "type": "ai_languageModel", "index": 0}]]},
    "Transaction 1": {"main": [[{"node": "Resource Analyzer", "type": "main", "index": 0}]]},
    "Transaction 2": {"main": [[{"node": "Resource Analyzer", "type": "main", "index": 0}]]},
    "Transaction 3": {"main": [[{"node": "Resource Analyzer", "type": "main", "index": 0}]]},
    "LM A": {"ai_languageModel": [[{"node": "Resource Analyzer", "type": "ai_languageModel", "index": 0}]]},
    "Resource Analyzer": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "COORD-003", "mast_category": "COORDINATION", "complexity": "very_complex", "description": "Multiple transactions with shared resource contention causing distributed deadlock", "expected_detection": "Resource allocation graph analysis detects complex deadlock", "agents": 4, "nodes": 5}
}
