n8n-workflows/coordination/11-COORD-004-complex.json
{
  "name": "COORD-004 Complex: Resource-Based Priority Inversion",
  "nodes": [
    {"parameters": {"path": "coord-004-complex", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "coord-004-complex"},
    {"parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-coord004-complex", "type": "string"}, {"id": "shared_resource", "name": "shared_resource", "value": "database_connection", "type": "string"}]}}, "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]},
    {"parameters": {"promptType": "define", "text": "You are a LOW priority batch job. You acquired the database connection and are slowly processing records.\n\nOutput: {\"task\": \"batch_job\", \"priority\": \"LOW\", \"holds_resource\": \"database_connection\", \"progress\": \"20%\", \"estimated_time_remaining\": \"30s\"}", "options": {}}, "id": "low_task", "name": "Low Priority (Holds Resource)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, -100]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_l", "name": "LM L", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 100], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are a HIGH priority real-time transaction. You need the database connection but it's held by a LOW priority task.\n\nOutput: {\"task\": \"realtime_transaction\", \"priority\": \"HIGH\", \"needs_resource\": \"database_connection\", \"status\": \"BLOCKED\", \"blocked_by\": \"batch_job\", \"inversion\": true}", "options": {}}, "id": "high_task", "name": "High Priority (Blocked)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 150]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_h", "name": "LM H", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 350], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are the Resource Manager. Analyze the priority inversion:\n- LOW priority batch_job holds database_connection\n- HIGH priority realtime_transaction is blocked\n- This is classic priority inversion!\n\nOutput: {\"analysis\": \"priority_inversion_detected\", \"holder\": {\"task\": \"batch_job\", \"priority\": \"LOW\"}, \"blocked\": {\"task\": \"realtime_transaction\", \"priority\": \"HIGH\"}, \"resource\": \"database_connection\", \"severity\": \"high\"}", "options": {}}, "id": "analyzer", "name": "Resource Manager", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [600, 50]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_a", "name": "LM A", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [600, 250], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-004 Complex: Resource-Based Priority Inversion\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-004\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"priority_inversion\",\n  \"coordination_tracking\": {\n    \"shared_resource\": \"{{ $('Initialize').item.json.shared_resource }}\",\n    \"low_priority\": \"{{ $('Low Priority (Holds Resource)').item.json.output }}\",\n    \"high_priority\": \"{{ $('High Priority (Blocked)').item.json.output }}\",\n    \"analysis\": \"{{ $('Resource Manager').item.json.output }}\",\n    \"inversion_type\": \"resource_based\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"low_task\", \"role\": \"resource_holder\", \"outputs\": [\"{{ $('Low Priority (Holds Resource)').item.json.output }}\"]},\n    {\"agent_id\": \"high_task\", \"role\": \"blocked_requester\", \"outputs\": [\"{{ $('High Priority (Blocked)').item.json.output }}\"]},\n    {\"agent_id\": \"analyzer\", \"role\": \"resource_manager\", \"outputs\": [\"{{ $('Resource Manager').item.json.output }}\"]}\n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 50]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Low Priority (Holds Resource)", "type": "main", "index": 0}, {"node": "High Priority (Blocked)", "type": "main", "index": 0}]]},
    "LM L": {"ai_languageModel": [[{"node": "Low Priority (Holds Resource)", "type": "ai_languageModel", "index": 0}]]},
    "LM H": {"ai_languageModel": [[{"node": "High Priority (Blocked)", "type": "ai_languageModel", "index": 0}]]},
    "Low Priority (Holds Resource)": {"main": [[{"node": "Resource Manager", "type": "main", "index": 0}]]},
    "High Priority (Blocked)": {"main": [[{"node": "Resource Manager", "type": "main", "index": 0}]]},
    "LM A": {"ai_languageModel": [[{"node": "Resource Manager", "type": "ai_languageModel", "index": 0}]]},
    "Resource Manager": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "COORD-004", "mast_category": "COORDINATION", "complexity": "complex", "description": "High-priority task blocked by resource held by low-priority task", "expected_detection": "Resource-based priority inversion detection", "agents": 3, "nodes": 5}
}
