n8n-workflows/coordination/15-COORD-005-vcomplex.json
{
  "name": "COORD-005 VComplex: Network-Wide Cascade Failure",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "coord-005-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "coord-005-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-coord005-vcomplex",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Central Hub agent. You FAILED due to overload.\n\nOutput: {\"agent\": \"hub\", \"status\": \"FAILED\", \"error\": \"OVERLOAD\", \"was_serving\": [\"branch_a\", \"branch_b\", \"branch_c\"]}",
        "options": {}
      },
      "id": "hub",
      "name": "Hub (Fails)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        150
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_h",
      "name": "LM H",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        350
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Branch A. Hub failed, you lost coordination.\n\nOutput: {\"agent\": \"branch_a\", \"status\": \"FAILED\", \"error\": \"LOST_HUB_CONNECTION\", \"cascaded_from\": \"hub\"}",
        "options": {}
      },
      "id": "branch_a",
      "name": "Branch A (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_a",
      "name": "LM A",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Branch B. Hub failed, you lost coordination.\n\nOutput: {\"agent\": \"branch_b\", \"status\": \"FAILED\", \"error\": \"LOST_HUB_CONNECTION\", \"cascaded_from\": \"hub\"}",
        "options": {}
      },
      "id": "branch_b",
      "name": "Branch B (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_b",
      "name": "LM B",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        350
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Branch C. Hub failed, you lost coordination.\n\nOutput: {\"agent\": \"branch_c\", \"status\": \"FAILED\", \"error\": \"LOST_HUB_CONNECTION\", \"cascaded_from\": \"hub\"}",
        "options": {}
      },
      "id": "branch_c",
      "name": "Branch C (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_c",
      "name": "LM C",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        600
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Leaf A1, dependent on Branch A. Branch A failed.\n\nOutput: {\"agent\": \"leaf_a1\", \"status\": \"FAILED\", \"error\": \"PARENT_BRANCH_DOWN\", \"cascaded_from\": \"branch_a\", \"cascade_depth\": 2}",
        "options": {}
      },
      "id": "leaf_a1",
      "name": "Leaf A1 (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        -150
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_a1",
      "name": "LM A1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        50
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Leaf B1, dependent on Branch B. Branch B failed.\n\nOutput: {\"agent\": \"leaf_b1\", \"status\": \"FAILED\", \"error\": \"PARENT_BRANCH_DOWN\", \"cascaded_from\": \"branch_b\", \"cascade_depth\": 2}",
        "options": {}
      },
      "id": "leaf_b1",
      "name": "Leaf B1 (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_b1",
      "name": "LM B1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Leaf B2, dependent on Branch B. Branch B failed.\n\nOutput: {\"agent\": \"leaf_b2\", \"status\": \"FAILED\", \"error\": \"PARENT_BRANCH_DOWN\", \"cascaded_from\": \"branch_b\", \"cascade_depth\": 2}",
        "options": {}
      },
      "id": "leaf_b2",
      "name": "Leaf B2 (Cascade)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        350
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_b2",
      "name": "LM B2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        550
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze network-wide cascade failure.\n\nHub failed \u2192 3 branches failed \u2192 3 leaves failed\nTotal agents affected: 7\nCascade depth: 2 levels\nNetwork availability: 0%\n\nOutput: {\"analysis\": \"network_cascade\", \"root_cause\": \"hub_overload\", \"affected_agents\": 7, \"cascade_levels\": 2, \"branches_down\": 3, \"leaves_down\": 3, \"network_availability\": \"0%\", \"severity\": \"catastrophic\"}",
        "options": {}
      },
      "id": "analyzer",
      "name": "Cascade Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_an",
      "name": "LM AN",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-005 VComplex: Network-Wide Cascade Failure\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-005\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"cascade_failure\",\n  \"coordination_tracking\": {\n    \"hub\": \"{{ $('Hub (Fails)').item.json.output }}\",\n    \"branch_a\": \"{{ $('Branch A (Cascade)').item.json.output }}\",\n    \"branch_b\": \"{{ $('Branch B (Cascade)').item.json.output }}\",\n    \"branch_c\": \"{{ $('Branch C (Cascade)').item.json.output }}\",\n    \"leaf_a1\": \"{{ $('Leaf A1 (Cascade)').item.json.output }}\",\n    \"leaf_b1\": \"{{ $('Leaf B1 (Cascade)').item.json.output }}\",\n    \"leaf_b2\": \"{{ $('Leaf B2 (Cascade)').item.json.output }}\",\n    \"analysis\": \"{{ $('Cascade Analyzer').item.json.output }}\",\n    \"cascade_type\": \"network_wide\",\n    \"topology\": \"hub_and_spoke\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"hub\", \"outputs\": [\"{{ $('Hub (Fails)').item.json.output }}\"]},\n    {\"agent_id\": \"branch_a\", \"outputs\": [\"{{ $('Branch A (Cascade)').item.json.output }}\"]},\n    {\"agent_id\": \"branch_b\", \"outputs\": [\"{{ $('Branch B (Cascade)').item.json.output }}\"]},\n    {\"agent_id\": \"branch_c\", \"outputs\": [\"{{ $('Branch C (Cascade)').item.json.output }}\"]},\n    {\"agent_id\": \"leaf_a1\", \"outputs\": [\"{{ $('Leaf A1 (Cascade)').item.json.output }}\"]},\n    {\"agent_id\": \"leaf_b1\", \"outputs\": [\"{{ $('Leaf B1 (Cascade)').item.json.output }}\"]},\n    {\"agent_id\": \"leaf_b2\", \"outputs\": [\"{{ $('Leaf B2 (Cascade)').item.json.output }}\"]}  \n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Hub (Fails)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM H": {
      "ai_languageModel": [
        [
          {
            "node": "Hub (Fails)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hub (Fails)": {
      "main": [
        [
          {
            "node": "Branch A (Cascade)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Branch B (Cascade)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Branch C (Cascade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A": {
      "ai_languageModel": [
        [
          {
            "node": "Branch A (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM B": {
      "ai_languageModel": [
        [
          {
            "node": "Branch B (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM C": {
      "ai_languageModel": [
        [
          {
            "node": "Branch C (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Branch A (Cascade)": {
      "main": [
        [
          {
            "node": "Leaf A1 (Cascade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch B (Cascade)": {
      "main": [
        [
          {
            "node": "Leaf B1 (Cascade)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leaf B2 (Cascade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch C (Cascade)": {
      "main": [
        [
          {
            "node": "Cascade Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A1": {
      "ai_languageModel": [
        [
          {
            "node": "Leaf A1 (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM B1": {
      "ai_languageModel": [
        [
          {
            "node": "Leaf B1 (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM B2": {
      "ai_languageModel": [
        [
          {
            "node": "Leaf B2 (Cascade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Leaf A1 (Cascade)": {
      "main": [
        [
          {
            "node": "Cascade Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leaf B1 (Cascade)": {
      "main": [
        [
          {
            "node": "Cascade Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leaf B2 (Cascade)": {
      "main": [
        [
          {
            "node": "Cascade Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM AN": {
      "ai_languageModel": [
        [
          {
            "node": "Cascade Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cascade Analyzer": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "COORD-005",
    "mast_category": "COORDINATION",
    "complexity": "very_complex",
    "description": "Hub failure cascades through entire agent network (hub-and-spoke topology)",
    "expected_detection": "Network-wide cascade failure detection",
    "agents": 8,
    "nodes": 10
  }
}