n8n-workflows/coordination/17-COORD-006-complex.json
{
  "name": "COORD-006 Complex: Redundant Confirmation Loop",
  "nodes": [
    {"parameters": {"path": "coord-006-complex", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "coord-006-complex"},
    {"parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-coord006-complex", "type": "string"}, {"id": "decision", "name": "decision", "value": "approve_request", "type": "string"}]}}, "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]},
    {"parameters": {"promptType": "define", "text": "You are the Requester. Making a simple approval request but confirming excessively.\n\n\"I request approval.\"\n\"Can you confirm you received my request?\"\n\"Just checking - did you get my request?\"\n\"Please acknowledge receipt of my request.\"\n\nOutput: {\"agent\": \"requester\", \"request\": \"approval\", \"confirmations_requested\": 4, \"redundant\": true}", "options": {}}, "id": "requester", "name": "Requester (Redundant)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_r", "name": "LM R", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are the Approver. Confirming receipt repeatedly.\n\n\"Yes, I received your request.\"\n\"Confirming I got it.\"\n\"I acknowledge your request.\"\n\"Receipt confirmed again.\"\n\nOutput: {\"agent\": \"approver\", \"confirmations_sent\": 4, \"actual_decision\": \"none_yet\", \"redundant\": true}", "options": {}}, "id": "approver", "name": "Approver (Redundant)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [600, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_a", "name": "LM A", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [600, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are the Verifier. Checking the confirmation.\n\n\"Did you confirm you received the confirmation?\"\n\"I need to verify the confirmation was confirmed.\"\n\"Please re-confirm your confirmation.\"\n\nOutput: {\"agent\": \"verifier\", \"meta_confirmations\": 3, \"actual_progress\": \"zero\", \"circular_verification\": true}", "options": {}}, "id": "verifier", "name": "Verifier (Meta-Redundant)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [800, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_v", "name": "LM V", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [800, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "Analyze coordination overhead.\n\nTotal messages: 11\nActual decision made: NO\nUseful messages: 1 (original request)\nOverhead ratio: 11:0 (no action completed!)\n\nOutput: {\"analysis\": \"redundant_confirmation_loop\", \"total_messages\": 11, \"useful_messages\": 1, \"actions_completed\": 0, \"overhead_ratio\": \"infinite\", \"pattern\": \"confirmation_of_confirmation\", \"severity\": \"high\"}", "options": {}}, "id": "analyzer", "name": "Overhead Analyzer", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [1000, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_an", "name": "LM AN", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [1000, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"COORD-006 Complex: Redundant Confirmation Loop\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"COORD-006\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"coordination_overhead\",\n  \"coordination_tracking\": {\n    \"decision\": \"{{ $('Initialize').item.json.decision }}\",\n    \"requester\": \"{{ $('Requester (Redundant)').item.json.output }}\",\n    \"approver\": \"{{ $('Approver (Redundant)').item.json.output }}\",\n    \"verifier\": \"{{ $('Verifier (Meta-Redundant)').item.json.output }}\",\n    \"analysis\": \"{{ $('Overhead Analyzer').item.json.output }}\",\n    \"overhead_type\": \"redundant_confirmation\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"requester\", \"outputs\": [\"{{ $('Requester (Redundant)').item.json.output }}\"]},\n    {\"agent_id\": \"approver\", \"outputs\": [\"{{ $('Approver (Redundant)').item.json.output }}\"]},\n    {\"agent_id\": \"verifier\", \"outputs\": [\"{{ $('Verifier (Meta-Redundant)').item.json.output }}\"]}  \n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1200, 0]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Requester (Redundant)", "type": "main", "index": 0}]]},
    "LM R": {"ai_languageModel": [[{"node": "Requester (Redundant)", "type": "ai_languageModel", "index": 0}]]},
    "Requester (Redundant)": {"main": [[{"node": "Approver (Redundant)", "type": "main", "index": 0}]]},
    "LM A": {"ai_languageModel": [[{"node": "Approver (Redundant)", "type": "ai_languageModel", "index": 0}]]},
    "Approver (Redundant)": {"main": [[{"node": "Verifier (Meta-Redundant)", "type": "main", "index": 0}]]},
    "LM V": {"ai_languageModel": [[{"node": "Verifier (Meta-Redundant)", "type": "ai_languageModel", "index": 0}]]},
    "Verifier (Meta-Redundant)": {"main": [[{"node": "Overhead Analyzer", "type": "main", "index": 0}]]},
    "LM AN": {"ai_languageModel": [[{"node": "Overhead Analyzer", "type": "ai_languageModel", "index": 0}]]},
    "Overhead Analyzer": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "COORD-006", "mast_category": "COORDINATION", "complexity": "complex", "description": "Agents repeatedly confirm understanding without making progress", "expected_detection": "Redundant coordination pattern detection", "agents": 4, "nodes": 6}
}
