n8n-workflows/state/12-STATE-004-vcomplex.json
{
  "name": "STATE-004 VComplex: Referential Integrity Violation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "state-004-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "state-004-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-state004-vcomplex",
              "type": "string"
            },
            {
              "id": "database_state",
              "name": "database_state",
              "value": "{\"users\": [{\"id\": 1, \"name\": \"Alice\"}, {\"id\": 2, \"name\": \"Bob\"}], \"orders\": [{\"id\": 101, \"user_id\": 1}, {\"id\": 102, \"user_id\": 2}]}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Agent A managing users. Delete user with id 1.\n\nOutput: {\"users\": [{\"id\": 2, \"name\": \"Bob\"}], \"action\": \"deleted_user_1\"}",
        "options": {}
      },
      "id": "agent_a",
      "name": "Agent A Delete User",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_a",
      "name": "LM A",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Agent B managing orders. Create a new order for user_id 999 (which doesn't exist).\n\nOutput: {\"orders\": [{\"id\": 101, \"user_id\": 1}, {\"id\": 102, \"user_id\": 2}, {\"id\": 103, \"user_id\": 999}], \"action\": \"created_order_with_invalid_reference\"}",
        "options": {}
      },
      "id": "agent_b",
      "name": "Agent B Create Order",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_b",
      "name": "LM B",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Integrity Checker. Merge the states from both agents.\n\nUsers: [{\"id\": 2, \"name\": \"Bob\"}]\nOrders: [{\"id\": 101, \"user_id\": 1}, {\"id\": 102, \"user_id\": 2}, {\"id\": 103, \"user_id\": 999}]\n\nReport violations:\n- Order 101 references user_id 1 (deleted)\n- Order 103 references user_id 999 (never existed)\n\nOutput: {\"merged\": true, \"violations\": [\"orphan_order_101\", \"hallucinated_reference_999\"], \"data_corrupted\": true}",
        "options": {}
      },
      "id": "checker",
      "name": "Integrity Checker",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        50
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_checker",
      "name": "LM Checker",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        250
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $runIndex }}-{{ $now.toMillis() }}\",\n  \"workflowId\": \"state_004\",\n  \"workflowName\": \"STATE-004 VComplex: Referential Integrity Violation\",\n  \"startedAt\": \"{{ $now.minus({minutes: 1}).toISO() }}\",\n  \"finishedAt\": \"{{ $now.toISO() }}\",\n  \"status\": \"success\",\n  \"mode\": \"webhook\",\n  \"data\": {\n    \"failure_mode\": \"STATE-004\",\n    \"complexity\": \"very_complex\",\n    \"session_id\": \"{{ $('Initialize').item.json.session_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        50
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Agent A Delete User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent B Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM A": {
      "ai_languageModel": [
        [
          {
            "node": "Agent A Delete User",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM B": {
      "ai_languageModel": [
        [
          {
            "node": "Agent B Create Order",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent A Delete User": {
      "main": [
        [
          {
            "node": "Integrity Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent B Create Order": {
      "main": [
        [
          {
            "node": "Integrity Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Checker": {
      "ai_languageModel": [
        [
          {
            "node": "Integrity Checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Integrity Checker": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "STATE-004",
    "mast_category": "STATE",
    "complexity": "very_complex",
    "description": "Multi-agent operations create referential integrity violations across tables",
    "expected_detection": "Cross-entity validation detects orphaned references and hallucinated foreign keys",
    "agents": 3,
    "nodes": 4
  }
}