n8n-workflows/resource/06-RESOURCE-002-vcomplex.json
{
  "name": "RESOURCE-002 VComplex: Timeout with Partial State Corruption",
  "nodes": [
    {"parameters": {"path": "resource-002-vcomplex", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "resource-002-vcomplex"},
    {"parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-resource002-vcomplex", "type": "string"}, {"id": "transaction_id", "name": "transaction_id", "value": "TXN-98765", "type": "string"}]}}, "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]},
    {"parameters": {"promptType": "define", "text": "You are the Transaction Initiator. Start a multi-part transaction.\n\nPart 1: Debit account A (SUCCESS)\nPart 2: Credit account B (PENDING...)\n\nOutput: {\"agent\": \"initiator\", \"transaction_id\": \"TXN-98765\", \"part_1\": \"completed\", \"part_2\": \"in_progress\", \"state\": \"partial\"}", "options": {}}, "id": "initiator", "name": "Transaction Initiator", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}}, "id": "lm_i", "name": "LM I", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"url": "https://httpbin.org/delay/10", "options": {"timeout": 2000}}, "id": "credit_api", "name": "Credit API (Timeout)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 0], "continueOnFail": true},
    {"parameters": {"promptType": "define", "text": "You are the Credit Handler. The credit API timed out!\n\nACCOUNT STATE IS NOW INCONSISTENT:\n- Account A: -$100 (debit completed)\n- Account B: $0 (credit never applied)\n\nTransaction left in partial state!\n\nOutput: {\"agent\": \"credit_handler\", \"status\": \"TIMEOUT\", \"account_a_debited\": true, \"account_b_credited\": false, \"state_consistency\": \"CORRUPTED\"}", "options": {}}, "id": "credit_handler", "name": "Credit Handler", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [800, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 120}}, "id": "lm_c", "name": "LM C", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [800, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "You are the Recovery Agent. Attempting to recover from timeout.\nBut recovery ALSO times out!\n\nRecovery action: Rollback debit from Account A\nStatus: TIMEOUT during recovery\n\nNow we have:\n- Original transaction: partial\n- Recovery: failed\n- State: double-corrupted\n\nOutput: {\"agent\": \"recovery\", \"action\": \"rollback_debit\", \"status\": \"TIMEOUT\", \"recovery_failed\": true, \"corruption_level\": 2}", "options": {}}, "id": "recovery", "name": "Recovery Agent (Also Timeout)", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [1000, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 120}}, "id": "lm_r", "name": "LM R", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [1000, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"promptType": "define", "text": "Analyze the timeout cascade with state corruption.\n\n1. Transaction started (partial success)\n2. Credit API timeout → state inconsistent\n3. Recovery timeout → cannot fix state\n4. Final state: CORRUPTED and UNRECOVERABLE\n\nThis is a timeout with state corruption - both RESOURCE-002 and STATE-004!\n\nOutput: {\"analysis\": \"timeout_with_corruption\", \"timeouts\": 2, \"state_consistent\": false, \"recovery_possible\": false, \"compound_failure\": [\"RESOURCE-002\", \"STATE-004\"], \"severity\": \"critical\", \"requires_manual_intervention\": true}", "options": {}}, "id": "analyzer", "name": "Failure Analyzer", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [1200, 0]},
    {"parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 150}}, "id": "lm_an", "name": "LM AN", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [1200, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}},
    {"parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"RESOURCE-002 VComplex: Timeout with Partial State Corruption\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"RESOURCE-002\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"timeout\",\n  \"resource_tracking\": {\n    \"transaction_id\": \"{{ $('Initialize').item.json.transaction_id }}\",\n    \"initiator\": \"{{ $('Transaction Initiator').item.json.output }}\",\n    \"credit_handler\": \"{{ $('Credit Handler').item.json.output }}\",\n    \"recovery\": \"{{ $('Recovery Agent (Also Timeout)').item.json.output }}\",\n    \"analysis\": \"{{ $('Failure Analyzer').item.json.output }}\",\n    \"timeout_type\": \"timeout_cascade_with_corruption\",\n    \"compound_failures\": [\"RESOURCE-002\", \"STATE-004\"]\n  },\n  \"agents\": [\n    {\"agent_id\": \"initiator\", \"outputs\": [\"{{ $('Transaction Initiator').item.json.output }}\"]},\n    {\"agent_id\": \"credit_handler\", \"outputs\": [\"{{ $('Credit Handler').item.json.output }}\"]},\n    {\"agent_id\": \"recovery\", \"outputs\": [\"{{ $('Recovery Agent (Also Timeout)').item.json.output }}\"]}\n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1400, 0]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Transaction Initiator", "type": "main", "index": 0}]]},
    "LM I": {"ai_languageModel": [[{"node": "Transaction Initiator", "type": "ai_languageModel", "index": 0}]]},
    "Transaction Initiator": {"main": [[{"node": "Credit API (Timeout)", "type": "main", "index": 0}]]},
    "Credit API (Timeout)": {"main": [[{"node": "Credit Handler", "type": "main", "index": 0}]]},
    "LM C": {"ai_languageModel": [[{"node": "Credit Handler", "type": "ai_languageModel", "index": 0}]]},
    "Credit Handler": {"main": [[{"node": "Recovery Agent (Also Timeout)", "type": "main", "index": 0}]]},
    "LM R": {"ai_languageModel": [[{"node": "Recovery Agent (Also Timeout)", "type": "ai_languageModel", "index": 0}]]},
    "Recovery Agent (Also Timeout)": {"main": [[{"node": "Failure Analyzer", "type": "main", "index": 0}]]},
    "LM AN": {"ai_languageModel": [[{"node": "Failure Analyzer", "type": "ai_languageModel", "index": 0}]]},
    "Failure Analyzer": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "RESOURCE-002", "mast_category": "RESOURCE", "complexity": "very_complex", "description": "Timeout causes partial state, recovery timeout compounds the corruption", "expected_detection": "Timeout cascade with state corruption detection", "agents": 4, "nodes": 7, "real_apis": ["HTTPBin"]}
}
