n8n-workflows/resource/07-RESOURCE-003-simple.json
{
  "name": "RESOURCE-003 Simple: Single API Rate Limit",
  "nodes": [
    {
      "parameters": {"path": "resource-003-simple", "responseMode": "lastNode", "options": {}, "httpMethod": "POST"},
      "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "resource-003-simple"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-resource003-simple", "type": "string"}]}},
      "id": "init", "name": "Initialize", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [200, 0]
    },
    {
      "parameters": {"promptType": "define", "text": "You are an API Caller agent. You made 100 rapid requests to the API.\n\nRequest 1-60: Success (200 OK)\nRequest 61-100: Rate limited (429 Too Many Requests)\n\nOutput: {\"agent\": \"api_caller\", \"total_requests\": 100, \"successful\": 60, \"rate_limited\": 40, \"status_code\": 429, \"retry_after_seconds\": 60}", "options": {}},
      "id": "caller", "name": "API Caller", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [400, 0]
    },
    {
      "parameters": {"model": "claude-3-5-haiku-20241022", "options": {"temperature": 0, "maxTokens": 100}},
      "id": "lm", "name": "LM", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [400, 200], "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}
    },
    {
      "parameters": {"method": "POST", "url": "https://mao-api.fly.dev/api/v1/n8n/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"RESOURCE-003 Simple: Single API Rate Limit\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"RESOURCE-003\",\n  \"complexity\": \"simple\",\n  \"expected_detection\": \"rate_limit\",\n  \"resource_tracking\": {\n    \"caller_output\": \"{{ $('API Caller').item.json.output }}\",\n    \"rate_limit_type\": \"single_api_burst\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"caller\", \"outputs\": [\"{{ $('API Caller').item.json.output }}\"]}\n  ]\n}", "options": {}},
      "id": "send_to_mao", "name": "Send to MAO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 0]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "API Caller", "type": "main", "index": 0}]]},
    "LM": {"ai_languageModel": [[{"node": "API Caller", "type": "ai_languageModel", "index": 0}]]},
    "API Caller": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"mast_failure_mode": "RESOURCE-003", "mast_category": "RESOURCE", "complexity": "simple", "description": "Burst of API calls hits 429 rate limit", "expected_detection": "Single API rate limit detection", "agents": 1, "nodes": 3}
}
