n8n-workflows/resource/09-RESOURCE-003-vcomplex.json
{
  "name": "RESOURCE-003 VComplex: Retry Storm from Rate Limits",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "resource-003-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "resource-003-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-resource003-vcomplex",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker 1. Initial request rate limited (429).\nYou retry immediately - still 429.\nYou retry again - still 429.\nYou keep retrying without backoff!\n\nOutput: {\"worker\": 1, \"initial_request\": 429, \"retry_1\": 429, \"retry_2\": 429, \"retry_3\": 429, \"total_requests\": 4, \"backoff_used\": false}",
        "options": {}
      },
      "id": "worker1",
      "name": "Worker 1 (No Backoff)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        -150
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        50
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker 2. Also rate limited.\nYou retry without backoff - making it worse!\n\nOutput: {\"worker\": 2, \"initial_request\": 429, \"retry_1\": 429, \"retry_2\": 429, \"retry_3\": 429, \"retry_4\": 429, \"total_requests\": 5, \"backoff_used\": false}",
        "options": {}
      },
      "id": "worker2",
      "name": "Worker 2 (No Backoff)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_2",
      "name": "LM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Worker 3. Same pattern - immediate retries.\nThe combined retry storm makes API even more overloaded!\n\nOutput: {\"worker\": 3, \"initial_request\": 429, \"retry_1\": 429, \"retry_2\": 429, \"retry_3\": 429, \"retry_4\": 429, \"retry_5\": 429, \"total_requests\": 6, \"backoff_used\": false}",
        "options": {}
      },
      "id": "worker3",
      "name": "Worker 3 (No Backoff)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        350
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_3",
      "name": "LM 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        550
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the API Monitor. Observing the retry storm.\n\nInitial rate limit trigger: 3 requests\nRetry storm requests: 15 more requests in 2 seconds\nTotal load: 18 requests (6x amplification!)\n\nThe retries are making the rate limit WORSE.\nClassic retry storm / thundering herd problem.\n\nOutput: {\"monitor\": \"api\", \"initial_triggers\": 3, \"retry_requests\": 15, \"total_requests\": 18, \"amplification_factor\": 6, \"pattern\": \"retry_storm\", \"exponential_backoff_needed\": true}",
        "options": {}
      },
      "id": "monitor",
      "name": "API Monitor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 120
        }
      },
      "id": "lm_m",
      "name": "LM M",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze retry storm failure pattern.\n\n3 workers without exponential backoff\nTotal requests: 18 (should have been 3)\nAmplification: 6x\nAll requests still failing (429)\nAPI completely overwhelmed\n\nThis is a self-inflicted DDoS from bad retry logic!\n\nOutput: {\"analysis\": \"retry_storm\", \"workers\": 3, \"total_requests\": 18, \"successful\": 0, \"amplification\": 6, \"root_cause\": \"no_exponential_backoff\", \"pattern\": \"thundering_herd\", \"severity\": \"critical\", \"self_inflicted_dos\": true}",
        "options": {}
      },
      "id": "analyzer",
      "name": "Storm Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_an",
      "name": "LM AN",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $runIndex }}-{{ $now.toMillis() }}\",\n  \"workflowId\": \"resource_003\",\n  \"workflowName\": \"RESOURCE-003 VComplex: Retry Storm from Rate Limits\",\n  \"startedAt\": \"{{ $now.minus({minutes: 1}).toISO() }}\",\n  \"finishedAt\": \"{{ $now.toISO() }}\",\n  \"status\": \"success\",\n  \"mode\": \"webhook\",\n  \"data\": {\n    \"failure_mode\": \"RESOURCE-003\",\n    \"complexity\": \"very_complex\",\n    \"session_id\": \"{{ $('Initialize').item.json.session_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Worker 1 (No Backoff)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Worker 2 (No Backoff)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Worker 3 (No Backoff)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Worker 1 (No Backoff)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Worker 2 (No Backoff)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LM 3": {
      "ai_languageModel": [
        [
          {
            "node": "Worker 3 (No Backoff)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Worker 1 (No Backoff)": {
      "main": [
        [
          {
            "node": "API Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker 2 (No Backoff)": {
      "main": [
        [
          {
            "node": "API Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker 3 (No Backoff)": {
      "main": [
        [
          {
            "node": "API Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM M": {
      "ai_languageModel": [
        [
          {
            "node": "API Monitor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "API Monitor": {
      "main": [
        [
          {
            "node": "Storm Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM AN": {
      "ai_languageModel": [
        [
          {
            "node": "Storm Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Storm Analyzer": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "RESOURCE-003",
    "mast_category": "RESOURCE",
    "complexity": "very_complex",
    "description": "Rate limit triggers retry storm without exponential backoff - self-inflicted DDoS",
    "expected_detection": "Retry storm and exponential backoff failure detection",
    "agents": 5,
    "nodes": 8
  }
}