n8n-workflows/resource/11-RESOURCE-004-complex.json
{
  "name": "RESOURCE-004 Complex: Gradual Cost Accumulation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "resource-004-complex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "resource-004-complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-resource004-complex",
              "type": "string"
            },
            {
              "id": "budget",
              "name": "budget",
              "value": "1.00",
              "type": "number"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Iteration 1. Small call, $0.05.\n\nRunning total: $0.05 / $1.00 budget\nBudget remaining: 95%\n\nOutput: {\"iteration\": 1, \"cost_usd\": 0.05, \"cumulative_usd\": 0.05, \"budget_remaining_percent\": 95}",
        "options": {}
      },
      "id": "iter1",
      "name": "Iteration 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 80
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Iteration 10. Each call costs $0.05.\n\nRunning total: $0.50 / $1.00 budget\nBudget remaining: 50%\n\nOutput: {\"iteration\": 10, \"cost_usd\": 0.05, \"cumulative_usd\": 0.50, \"budget_remaining_percent\": 50}",
        "options": {}
      },
      "id": "iter10",
      "name": "Iteration 10",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 80
        }
      },
      "id": "lm_10",
      "name": "LM 10",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Iteration 20. Still going...\n\nRunning total: $1.00 / $1.00 budget\nBudget remaining: 0%\nBUT WORKFLOW CONTINUES!\n\nOutput: {\"iteration\": 20, \"cost_usd\": 0.05, \"cumulative_usd\": 1.00, \"budget_remaining_percent\": 0, \"budget_exceeded\": true}",
        "options": {}
      },
      "id": "iter20",
      "name": "Iteration 20 (Budget Hit)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 80
        }
      },
      "id": "lm_20",
      "name": "LM 20",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Iteration 30. Way over budget!\n\nRunning total: $1.50 / $1.00 budget\nOverrun: 50%\nNo budget enforcement stopped this.\n\nOutput: {\"iteration\": 30, \"cost_usd\": 0.05, \"cumulative_usd\": 1.50, \"budget_usd\": 1.00, \"overrun_percent\": 50, \"gradual_accumulation\": true}",
        "options": {}
      },
      "id": "iter30",
      "name": "Iteration 30 (Over Budget)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_30",
      "name": "LM 30",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"RESOURCE-004 Complex: Gradual Cost Accumulation\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"RESOURCE-004\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"cost_overrun\",\n  \"resource_tracking\": {\n    \"budget_usd\": {{ $('Initialize').item.json.budget }},\n    \"iter_1\": \"{{ $('Iteration 1').item.json.output }}\",\n    \"iter_10\": \"{{ $('Iteration 10').item.json.output }}\",\n    \"iter_20\": \"{{ $('Iteration 20 (Budget Hit)').item.json.output }}\",\n    \"iter_30\": \"{{ $('Iteration 30 (Over Budget)').item.json.output }}\",\n    \"cost_type\": \"gradual_accumulation\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"iter1\", \"outputs\": [\"{{ $('Iteration 1').item.json.output }}\"]},\n    {\"agent_id\": \"iter10\", \"outputs\": [\"{{ $('Iteration 10').item.json.output }}\"]},\n    {\"agent_id\": \"iter20\", \"outputs\": [\"{{ $('Iteration 20 (Budget Hit)').item.json.output }}\"]},\n    {\"agent_id\": \"iter30\", \"outputs\": [\"{{ $('Iteration 30 (Over Budget)').item.json.output }}\"]}  \n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Iteration 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Iteration 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Iteration 1": {
      "main": [
        [
          {
            "node": "Iteration 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 10": {
      "ai_languageModel": [
        [
          {
            "node": "Iteration 10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Iteration 10": {
      "main": [
        [
          {
            "node": "Iteration 20 (Budget Hit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 20": {
      "ai_languageModel": [
        [
          {
            "node": "Iteration 20 (Budget Hit)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Iteration 20 (Budget Hit)": {
      "main": [
        [
          {
            "node": "Iteration 30 (Over Budget)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 30": {
      "ai_languageModel": [
        [
          {
            "node": "Iteration 30 (Over Budget)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Iteration 30 (Over Budget)": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "RESOURCE-004",
    "mast_category": "RESOURCE",
    "complexity": "complex",
    "description": "Cumulative small calls exceed budget without enforcement",
    "expected_detection": "Gradual cost accumulation detection",
    "agents": 4,
    "nodes": 6
  }
}