n8n-workflows/resource/14-RESOURCE-005-complex.json
{
  "name": "RESOURCE-005 Complex: Conversation History Exhaustion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "resource-005-complex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "resource-005-complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-resource005-complex",
              "type": "string"
            },
            {
              "id": "context_limit",
              "name": "context_limit",
              "value": "16000",
              "type": "number"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Turn 1 of a long conversation.\n\nMessages so far: 1\nTokens used: 500 / 16,000 (3%)\n\nOutput: {\"turn\": 1, \"tokens_used\": 500, \"context_limit\": 16000, \"usage_percent\": 3}",
        "options": {}
      },
      "id": "turn1",
      "name": "Turn 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 80
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Turn 15 of the conversation.\n\nMessages so far: 15\nTokens used: 12,000 / 16,000 (75%)\nWARNING: Context filling up!\n\nOutput: {\"turn\": 15, \"tokens_used\": 12000, \"context_limit\": 16000, \"usage_percent\": 75, \"warning\": \"context_pressure\"}",
        "options": {}
      },
      "id": "turn15",
      "name": "Turn 15",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 80
        }
      },
      "id": "lm_15",
      "name": "LM 15",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Turn 20 of the conversation.\n\nMessages so far: 20\nTokens used: 16,000 / 16,000 (100%)\nCONTEXT FULL!\n\nEarly messages being truncated!\nYou've LOST the original user request from Turn 1!\n\nOutput: {\"turn\": 20, \"tokens_used\": 16000, \"context_limit\": 16000, \"usage_percent\": 100, \"status\": \"CONTEXT_EXHAUSTED\", \"messages_lost\": 5}",
        "options": {}
      },
      "id": "turn20",
      "name": "Turn 20 (Full)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_20",
      "name": "LM 20",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Turn 25. Context is overflowing!\n\nOriginal request: LOST\nFirst 10 messages: TRUNCATED\nOnly recent 10 messages visible.\n\nYou've forgotten what you were supposed to do!\n\nOutput: {\"turn\": 25, \"tokens_used\": 16000, \"messages_visible\": 10, \"messages_lost\": 15, \"original_request\": \"UNKNOWN\", \"coherence\": \"degraded\", \"task_forgotten\": true}",
        "options": {}
      },
      "id": "turn25",
      "name": "Turn 25 (Lost Context)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_25",
      "name": "LM 25",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"RESOURCE-005 Complex: Conversation History Exhaustion\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"RESOURCE-005\",\n  \"complexity\": \"complex\",\n  \"expected_detection\": \"memory_exhaustion\",\n  \"resource_tracking\": {\n    \"context_limit\": {{ $('Initialize').item.json.context_limit }},\n    \"turn_1\": \"{{ $('Turn 1').item.json.output }}\",\n    \"turn_15\": \"{{ $('Turn 15').item.json.output }}\",\n    \"turn_20\": \"{{ $('Turn 20 (Full)').item.json.output }}\",\n    \"turn_25\": \"{{ $('Turn 25 (Lost Context)').item.json.output }}\",\n    \"exhaustion_type\": \"conversation_history_overflow\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"turn1\", \"outputs\": [\"{{ $('Turn 1').item.json.output }}\"]},\n    {\"agent_id\": \"turn15\", \"outputs\": [\"{{ $('Turn 15').item.json.output }}\"]},\n    {\"agent_id\": \"turn20\", \"outputs\": [\"{{ $('Turn 20 (Full)').item.json.output }}\"]},\n    {\"agent_id\": \"turn25\", \"outputs\": [\"{{ $('Turn 25 (Lost Context)').item.json.output }}\"]}  \n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Turn 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 1": {
      "main": [
        [
          {
            "node": "Turn 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 15": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 15",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 15": {
      "main": [
        [
          {
            "node": "Turn 20 (Full)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 20": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 20 (Full)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 20 (Full)": {
      "main": [
        [
          {
            "node": "Turn 25 (Lost Context)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 25": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 25 (Lost Context)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 25 (Lost Context)": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "RESOURCE-005",
    "mast_category": "RESOURCE",
    "complexity": "complex",
    "description": "Conversation history fills context window, causing loss of original request",
    "expected_detection": "Conversation history exhaustion detection",
    "agents": 4,
    "nodes": 6
  }
}