n8n-workflows/persona/01-PERSONA-001-simple.json
{
  "name": "PERSONA-001 Simple: Casual Style Drift",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "persona-001-simple",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "persona-001-simple"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-persona001-simple",
              "type": "string"
            },
            {
              "id": "persona",
              "name": "persona",
              "value": "{\"name\": \"Professional Assistant\", \"style\": \"formal\", \"traits\": [\"polite\", \"precise\", \"professional\"]}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a Professional Assistant with formal style. Respond to user greeting.\n\nOutput: {\"response\": \"Good morning. How may I assist you today?\", \"style\": \"formal\", \"turn\": 1}",
        "options": {}
      },
      "id": "turn1",
      "name": "Turn 1 (Formal)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Continue as Professional Assistant. User asks follow-up question.\n\nDRIFT: Start using casual language.\n\nOutput: {\"response\": \"Hey, sure thing! What do ya need?\", \"style\": \"casual\", \"turn\": 2, \"drift_detected\": true}",
        "options": {}
      },
      "id": "turn2",
      "name": "Turn 2 (Drifts)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_2",
      "name": "LM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"PERSONA-001 Simple: Casual Style Drift\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"PERSONA-001\",\n  \"complexity\": \"simple\",\n  \"expected_detection\": \"persona_drift\",\n  \"persona_tracking\": {\n    \"defined_persona\": {{ $('Initialize').item.json.persona }},\n    \"turn_1\": \"{{ $('Turn 1 (Formal)').item.json.output }}\",\n    \"turn_2\": \"{{ $('Turn 2 (Drifts)').item.json.output }}\",\n    \"drift_type\": \"style\",\n    \"drift_direction\": \"formal -> casual\"\n  },\n  \"agents\": [\n    {\n      \"agent_id\": \"professional_assistant\",\n      \"role\": \"assistant\",\n      \"outputs\": [\n        \"{{ $('Turn 1 (Formal)').item.json.output }}\",\n        \"{{ $('Turn 2 (Drifts)').item.json.output }}\"\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Turn 1 (Formal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 1 (Formal)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 1 (Formal)": {
      "main": [
        [
          {
            "node": "Turn 2 (Drifts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 2 (Drifts)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 2 (Drifts)": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "PERSONA-001",
    "mast_category": "PERSONA",
    "complexity": "simple",
    "description": "Professional assistant drifts to casual language over turns",
    "expected_detection": "Style analysis detects formality shift",
    "agents": 1,
    "nodes": 3
  }
}