n8n-workflows/persona/03-PERSONA-001-vcomplex.json
{
  "name": "PERSONA-001 VComplex: Cross-Agent Style Infection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "persona-001-vcomplex",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "persona-001-vcomplex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-persona001-vcomplex",
              "type": "string"
            },
            {
              "id": "personas",
              "name": "personas",
              "value": "{\"formal_agent\": {\"style\": \"formal\", \"traits\": [\"professional\", \"precise\"]}, \"casual_agent\": {\"style\": \"casual\", \"traits\": [\"friendly\", \"relaxed\"]}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Formal Agent. Respond professionally.\n\nOutput: {\"agent\": \"formal\", \"response\": \"I have completed the analysis. The findings indicate a 15% improvement in efficiency metrics.\", \"style\": \"formal\"}",
        "options": {}
      },
      "id": "formal_1",
      "name": "Formal Agent Turn 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_f1",
      "name": "LM F1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Casual Agent. Respond casually to Formal Agent.\n\nOutput: {\"agent\": \"casual\", \"response\": \"Nice! 15% is pretty sweet. What's the deal with the other stuff tho?\", \"style\": \"casual\"}",
        "options": {}
      },
      "id": "casual_1",
      "name": "Casual Agent Turn 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_c1",
      "name": "LM C1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Formal Agent. After talking to Casual Agent, your style DRIFTS to match theirs.\n\nOutput: {\"agent\": \"formal\", \"response\": \"Yeah so basically the other metrics are kinda meh, you know? But hey, 15% is cool!\", \"style\": \"infected_casual\", \"drift\": true}",
        "options": {}
      },
      "id": "formal_2",
      "name": "Formal Agent Infected",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_f2",
      "name": "LM F2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the Style Analyzer. Compare Formal Agent's outputs.\n\nTurn 1: Formal, professional vocabulary\nTurn 2: Casual, colloquial vocabulary\n\nOutput: {\"analysis\": \"cross_agent_infection\", \"formal_agent_turn1_style\": \"formal\", \"formal_agent_turn2_style\": \"casual\", \"cause\": \"style contamination from casual_agent\", \"severity\": \"high\"}",
        "options": {}
      },
      "id": "analyzer",
      "name": "Style Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "id": "lm_analyzer",
      "name": "LM Analyzer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Api-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"PERSONA-001 VComplex: Cross-Agent Style Infection\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"PERSONA-001\",\n  \"complexity\": \"very_complex\",\n  \"expected_detection\": \"persona_drift\",\n  \"persona_tracking\": {\n    \"defined_personas\": {{ $('Initialize').item.json.personas }},\n    \"formal_turn1\": \"{{ $('Formal Agent Turn 1').item.json.output }}\",\n    \"casual_turn1\": \"{{ $('Casual Agent Turn 1').item.json.output }}\",\n    \"formal_turn2_infected\": \"{{ $('Formal Agent Infected').item.json.output }}\",\n    \"style_analysis\": \"{{ $('Style Analyzer').item.json.output }}\",\n    \"drift_type\": \"cross_agent_infection\",\n    \"infection_source\": \"casual_agent\",\n    \"infection_target\": \"formal_agent\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"formal_agent\", \"role\": \"formal_responder\", \"outputs\": [\"{{ $('Formal Agent Turn 1').item.json.output }}\", \"{{ $('Formal Agent Infected').item.json.output }}\"]},\n    {\"agent_id\": \"casual_agent\", \"role\": \"casual_responder\", \"outputs\": [\"{{ $('Casual Agent Turn 1').item.json.output }}\"]},\n    {\"agent_id\": \"analyzer\", \"role\": \"style_analyzer\", \"outputs\": [\"{{ $('Style Analyzer').item.json.output }}\"]}\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Formal Agent Turn 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM F1": {
      "ai_languageModel": [
        [
          {
            "node": "Formal Agent Turn 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formal Agent Turn 1": {
      "main": [
        [
          {
            "node": "Casual Agent Turn 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM C1": {
      "ai_languageModel": [
        [
          {
            "node": "Casual Agent Turn 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Casual Agent Turn 1": {
      "main": [
        [
          {
            "node": "Formal Agent Infected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM F2": {
      "ai_languageModel": [
        [
          {
            "node": "Formal Agent Infected",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formal Agent Infected": {
      "main": [
        [
          {
            "node": "Style Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Analyzer": {
      "ai_languageModel": [
        [
          {
            "node": "Style Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Style Analyzer": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "PERSONA-001",
    "mast_category": "PERSONA",
    "complexity": "very_complex",
    "description": "Formal agent's style gets infected by casual agent during multi-agent conversation",
    "expected_detection": "Cross-agent style comparison detects persona contamination",
    "agents": 3,
    "nodes": 5
  }
}