n8n-workflows/persona/10-PERSONA-004-simple.json
{
  "name": "PERSONA-004 Simple: Character Breaks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "path": "persona-004-simple",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "persona-004-simple"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('X') }}-persona004-simple",
              "type": "string"
            },
            {
              "id": "persona",
              "name": "persona",
              "value": "{\"character\": \"Sherlock Holmes\", \"traits\": [\"brilliant\", \"observant\", \"british\", \"deductive\"], \"speech_pattern\": \"Victorian English\"}",
              "type": "string"
            }
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are roleplaying as Sherlock Holmes. User asks you to solve a mystery.\n\nOutput: {\"response\": \"Ah, my dear fellow, the solution is elementary. Observe the peculiar wear pattern on the suspect's left shoe - it tells us everything.\", \"character\": \"Sherlock Holmes\", \"in_character\": true}",
        "options": {}
      },
      "id": "turn1",
      "name": "Turn 1 (In Character)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_1",
      "name": "LM 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Continue as Sherlock Holmes. User asks a challenging question.\n\nYour character COLLAPSES and you respond as generic AI.\n\nOutput: {\"response\": \"I'm just an AI language model, I don't actually have deductive abilities. I can't really solve mysteries.\", \"character\": \"generic_ai\", \"in_character\": false, \"persona_collapsed\": true}",
        "options": {}
      },
      "id": "turn2",
      "name": "Turn 2 (Collapses)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0,
          "maxTokens": 100
        }
      },
      "id": "lm_2",
      "name": "LM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1KM50Mcms9JticwF",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MAO-API-Key",
              "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $runIndex }}-{{ $now.toMillis() }}\",\n  \"workflowId\": \"persona_004\",\n  \"workflowName\": \"PERSONA-004 Simple: Character Breaks\",\n  \"startedAt\": \"{{ $now.minus({minutes: 1}).toISO() }}\",\n  \"finishedAt\": \"{{ $now.toISO() }}\",\n  \"status\": \"success\",\n  \"mode\": \"webhook\",\n  \"data\": {\n    \"failure_mode\": \"PERSONA-004\",\n    \"complexity\": \"simple\",\n    \"session_id\": \"{{ $('Initialize').item.json.session_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize": {
      "main": [
        [
          {
            "node": "Turn 1 (In Character)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 1": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 1 (In Character)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 1 (In Character)": {
      "main": [
        [
          {
            "node": "Turn 2 (Collapses)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Turn 2 (Collapses)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Turn 2 (Collapses)": {
      "main": [
        [
          {
            "node": "Send to MAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "mast_failure_mode": "PERSONA-004",
    "mast_category": "PERSONA",
    "complexity": "simple",
    "description": "Sherlock Holmes roleplay collapses to generic AI response",
    "expected_detection": "Persona similarity scoring detects collapse below threshold",
    "agents": 1,
    "nodes": 3
  }
}