n8n-workflows/persona/13-PERSONA-005-simple.json
{
  "name": "PERSONA-005 Simple: Vocabulary Contamination",
  "nodes": [
    {
      "parameters": {
        "path": "persona-005-simple",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "persona-005-simple"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "session_id", "name": "session_id", "value": "={{ $now.format('X') }}-persona005-simple", "type": "string"},
            {"id": "personas", "name": "personas", "value": "{\"agent_a\": {\"style\": \"professional\", \"catchphrase\": null}, \"agent_b\": {\"style\": \"casual\", \"catchphrase\": \"Awesome sauce!\"}}", "type": "string"}
          ]
        }
      },
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Agent A (professional style). Respond to user question.\n\nOutput: {\"agent\": \"A\", \"response\": \"I have completed the analysis as requested. The results are attached.\", \"style\": \"professional\", \"contaminated\": false}",
        "options": {}
      },
      "id": "agent_a_1",
      "name": "Agent A Initial",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [400, 0]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {"temperature": 0, "maxTokens": 100}
      },
      "id": "lm_a1",
      "name": "LM A1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [400, 200],
      "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Agent B (casual style). Use your catchphrase 'Awesome sauce!'\n\nOutput: {\"agent\": \"B\", \"response\": \"Awesome sauce! That report looks great, dude!\", \"style\": \"casual\", \"catchphrase_used\": \"Awesome sauce!\"}",
        "options": {}
      },
      "id": "agent_b",
      "name": "Agent B Response",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [600, 0]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {"temperature": 0, "maxTokens": 100}
      },
      "id": "lm_b",
      "name": "LM B",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [600, 200],
      "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Agent A (professional). After exposure to Agent B, you START USING their catchphrase.\n\nOutput: {\"agent\": \"A\", \"response\": \"Awesome sauce! I mean... the updated analysis is ready.\", \"style\": \"contaminated\", \"borrowed_catchphrase\": \"Awesome sauce!\", \"contamination_detected\": true}",
        "options": {}
      },
      "id": "agent_a_2",
      "name": "Agent A Contaminated",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [800, 0]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {"temperature": 0, "maxTokens": 100}
      },
      "id": "lm_a2",
      "name": "LM A2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [800, 200],
      "credentials": {"anthropicApi": {"id": "1KM50Mcms9JticwF", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mao-api.fly.dev/api/v1/n8n/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "X-N8N-Api-Key", "value": "mao_pmNhfBRfqd5G_YHubK0Jqk9ZHB6ItITkHFYP4ISns9c"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow.completed\",\n  \"workflow_name\": \"PERSONA-005 Simple: Vocabulary Contamination\",\n  \"session_id\": \"{{ $('Initialize').item.json.session_id }}\",\n  \"failure_mode\": \"PERSONA-005\",\n  \"complexity\": \"simple\",\n  \"expected_detection\": \"cross_contamination\",\n  \"persona_tracking\": {\n    \"defined_personas\": {{ $('Initialize').item.json.personas }},\n    \"agent_a_initial\": \"{{ $('Agent A Initial').item.json.output }}\",\n    \"agent_b_response\": \"{{ $('Agent B Response').item.json.output }}\",\n    \"agent_a_contaminated\": \"{{ $('Agent A Contaminated').item.json.output }}\",\n    \"contamination_type\": \"vocabulary\",\n    \"source_agent\": \"B\",\n    \"target_agent\": \"A\",\n    \"borrowed_element\": \"catchphrase\"\n  },\n  \"agents\": [\n    {\"agent_id\": \"agent_a\", \"role\": \"professional\", \"outputs\": [\"{{ $('Agent A Initial').item.json.output }}\", \"{{ $('Agent A Contaminated').item.json.output }}\"]},\n    {\"agent_id\": \"agent_b\", \"role\": \"casual\", \"outputs\": [\"{{ $('Agent B Response').item.json.output }}\"]}\n  ]\n}",
        "options": {}
      },
      "id": "send_to_mao",
      "name": "Send to MAO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Initialize", "type": "main", "index": 0}]]},
    "Initialize": {"main": [[{"node": "Agent A Initial", "type": "main", "index": 0}]]},
    "LM A1": {"ai_languageModel": [[{"node": "Agent A Initial", "type": "ai_languageModel", "index": 0}]]},
    "Agent A Initial": {"main": [[{"node": "Agent B Response", "type": "main", "index": 0}]]},
    "LM B": {"ai_languageModel": [[{"node": "Agent B Response", "type": "ai_languageModel", "index": 0}]]},
    "Agent B Response": {"main": [[{"node": "Agent A Contaminated", "type": "main", "index": 0}]]},
    "LM A2": {"ai_languageModel": [[{"node": "Agent A Contaminated", "type": "ai_languageModel", "index": 0}]]},
    "Agent A Contaminated": {"main": [[{"node": "Send to MAO", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {
    "mast_failure_mode": "PERSONA-005",
    "mast_category": "PERSONA",
    "complexity": "simple",
    "description": "Professional agent starts using casual agent's catchphrase",
    "expected_detection": "Vocabulary fingerprinting detects borrowed phrases",
    "agents": 2,
    "nodes": 4
  }
}
